.wrapper.clearfix
  = render 'shared/main_header'
  = render 'shared/exhibit-btn'
  .main.clearfix
    .sub.clearfix
      = render 'shared/side_bar'
      .mypage
        .mypage__header
          本人情報の登録
        .mypage__main
          .mypage__main--box
            .mypage__main--explanation
              お客さまの本人情報をご登録ください。
              %br/
              登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
            .mypage__main--note
              = link_to "", class: 'mypage__main--note__right' do
                %span  本人確認書類のアップロードについて
                %i.fas.fa-chevron-right
          .mypage__main--form
            %label.mypage__main--form__up
              お名前
            %p.mypage__main--form__under
              %p #{@user.first_name} #{@user.last_name}
          .mypage__main--form
            %label.mypage__main--form__up
              お名前カナ
            %p.mypage__main--form__under
              %p #{@user.first_name_kana} #{@user.last_name_kana}
          .mypage__main--form
            %label.mypage__main--form__up
              生年月日
            %p.mypage__main--form__under
              %p #{@user.birthday_year}年 #{@user.birthday_month}月 #{@user.birthday_day}日
          = form_with( model: @user) do |f|
            .mypage__main--form
              %label.mypage__main--form__up
                郵便番号
              %span.mypage__main--form__stamp
                任意
              = f.number_field :post_code, placeholder: '1234567', class: "mypage__main--form__input"
            .mypage__main--form
              %label.mypage__main--form__up
                都道府県
              %span.mypage__main--form__stamp
                任意
              .mypage__main--form__box
                = f.collection_select :address_prefecture, Prefecture.all, :id, :name, {prompt: "---"}, {class: 'mypage__main--form__select'}
                %i.fas.fa-chevron-down.mypage__main--form__icon
            .mypage__main--form
              %label.mypage__main--form__up
                市区町村
              %span.mypage__main--form__stamp
                任意
              = f.text_field :address_city, class: "mypage__main--form__input"
            .mypage__main--form
              %label.mypage__main--form__up
                番地
              %span.mypage__main--form__stamp
                任意
              = f.text_field :address_number, class: "mypage__main--form__input"
            .mypage__main--form
              %label.mypage__main--form__up
                建物名
              %span.mypage__main--form__stamp
                任意
              = f.text_field :address_building, class: "mypage__main--form__input", placeholder: "例）柳ビル103"
            =f.submit "更新する", class: "mypage__main--btn"
          .mypage__main--form
            .mypage__main--note
              = link_to "", class: 'mypage__main--note__right' do
                %span 本人情報の登録について
                %i.fas.fa-chevron-right
  = render 'shared/announcement'
  = render 'shared/main_footer'