.wrapper.clearfix
  = render 'shared/main_header'
  = render 'shared/exhibit-btn'
.main.clearfix
  .sub.clearfix
    = render 'shared/side_bar'
    %main.logout
      .logout-contents
        .logout-contents__box
          .logout-contents__box__red
            .logout-contents__box__red__btn
              %button.logout-contents__box__red__btn__submit{type: "submit"}
                = link_to "ログアウト", destroy_user_session_path, method: :delete
= render 'shared/announcement'
= render 'shared/main_footer'