.top-contents
  .top-contents__main
    %h6
      メンズ新着
    = link_to "", class: 'mypage__main--note__right' do
      %span
        もっと見る
      %i.fas.fa-chevron-right
  %ul
    - @mens.each do |mens|
      %li
        .top-contents__items
          .top-contents__items__item
            = link_to item_path(mens) do
              %figure
                %span.top-contents__items__item__price{"aria-label" => "Price"}
                  ¥
                  #text
                    = mens.price.to_s(:delimited)
                .top-contents__items__item__image
                  = image_tag ("#{mens.image}"), alt: "" 
                  - if mens.buyer_id
                    .top-soldout
                    .top-soldout__text
                      SOLD
                %figcaption
                  %span
                    = mens.product_name