-# ページのヘッダー部分
%header.header
  = render 'shared/sub_header'
  
-# メイン画面
%main.confirmation-main
  %section.confirmation-main__container
    -# メイン画面ヘッダー
    %h2.confirmation-main__container__header
      購入内容の確認
    
    -# 商品情報、値段              
    %section.confirmation-main__container__buy-content
      .confirmation-main__container__buy-content__inner
        %h3.confirmation-main__container__buy-content__inner__item
          =image_tag "https://s3-ap-northeast-1.amazonaws.com/freemarket-sample-58c/uploads/image/goods_picture/138/%E3%82%B7%E3%83%A5%E3%83%95%E3%82%9A8.jpg",class: "huku_1"
        .confirmation-main__container__buy-content__inner__item-name
          .confirmation-main__container__buy-content__inner__item-name__box
          服

        -# ポイント、支払い金額、購入ボタン
        .confirmation-main__container__buy-content__inner__buy-form
          .confirmation-main__container__buy-content__inner__buy-form__list
            %p.confirmation-main__container__buy-content__inner__buy-form__list__price
              ¥2,800
              %span.confirmation-main__container__buy-content__inner__buy-form__list__price__text
                送料込み
            %ul.confirmation-main__container__buy-content__inner__buy-form__list__point
              ポイントはありません
            .confirmation-buy-box
              %ul.confirmation-main__container__buy-content__inner__buy-form__list__table
                %li.confirmation-main__container__buy-content__inner__buy-form__list__table__list
                  .confirmation-main__container__buy-content__inner__buy-form__list__table__list__left-text
                    支払い金額
                  .confirmation-main__container__buy-content__inner__buy-form__list__table__list__right-text
                    ¥2,800         
              = form_with url: pay_purchase_index_path, method: :post, local: true  do |f|
                =f.submit "購入する",data: {"turbolinks" => false} ,class: "btn linkbtn" 
              -# 配送先とユーザーの住所
    %section.confirmation-main__container__buy-info
      .confirmation-main__container__buy-info__container
        %h3 配送先
        %address.confirmation-main__container__buy-info__container__address
          .confirmation-main__container__buy-info__container__address__postal-code 
            〒689-3541
          .confirmation-main__container__buy-info__container__address__address-name 
            鳥取県米子市
          .confirmation-main__container__buy-info__container__address__user-name  
            加藤
          =link_to "", class: 'confirmation-main__container__buy-info__container__user-info-fix' do
            %span 変更する >
  

    -# クレジットカード情報
    %section.confirmation-main__container__credit-info
      .confirmation-main__container__credit-info__inner
      %h3 支払い方法
      - if @default_card_information.blank?
        %br /
      - else
        .confirmation-main__container__credit-info__inner__card-number
          = "**** **** **** " + @default_card_information.last4
        .confirmation-main__container__credit-info__inner__deadline
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
          = image_tag '//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?210491352', class: "confirmation-main__container__credit-info__inner__logo"
          =link_to "", class: 'confirmation-main__container__buy-info__container__user-info-fix' do
            %span 変更する >


-# merucariロゴフッター
= render 'shared/sub_footer'

