.confirmation-header
  = render 'shared/sub_header'
.purchase-completed-wrapper
  .purchase-completed-wrapper__main-container
    .purchase-completed-wrapper__main-container__header
      .purchase-completed-wrapper__main-container__header__upper
        発送をお待ちください
      .purchase-completed-wrapper__main-container__header__lower
        出品者からの発送通知をお待ちください
    .purchase-completed-wrapper__main-container__result
      .purchase-completed-wrapper__main-container__result__text
        .btn-default.btn-gray
          =link_to "トップページへ",root_path,method: :get
    .purchase-completed-wrapper__main-container__info
      =image_tag ("#{@item.image}"),class: "huku"
      .purchase-completed-wrapper__main-container__info__name
        = @item.product_name
    .purchase-completed-wrapper__main-container__price
      .purchase-completed-wrapper__main-container__price__value
        ¥
        = @item.price
      .purchase-completed-wrapper__main-container__price__note
        送料込み
    .purchase-completed-wrapper__main-container__address
      .purchase-completed-wrapper__main-container__address__post-code
        配送先
      .purchase-completed-wrapper__main-container__address__title
        〒
        = @user.post_code
      .purchase-completed-wrapper__main-container__address__city
        = @address.name
        = @user.address_city
        = @user.address_number
      .confirmation-main__container__buy-info__container__address__user-name
        = @user.address_last_name
        = @user.address_first_name  
      .purchase-completed-wrapper__main-container__address__name
.purchase-confirmation-footer
  = render 'shared/sub_footer'
