= render 'shared/main_header'
= render 'shared/exhibit-btn'
= render 'shared/slider'
%main
  %section.slider
    .slider__image
  %section.container
    .topics__title
      %h2 aaa
      %ul.topics__title__lists
        %li.topics__title__lists__list
          a1
        %li.topics__title__lists__list
          a2
        %li.topics__title__lists__list
          a3
        %li.topics__title__lists__list
          a4
    .items__box
      .items__box__title
        %h3
        = link_to "222", ""
      .items__box__lists
        %ul
          %li.items__box__lists__list
            .items__box__lists__list__item
              = link_to "333", ""
              %figure.items__box__lists__list__item__img
                %figcaption
                  %span 444444
                .items__box__lists__list__item__price
                  %span 5555
          %li.items__box__lists__list
            .items__box__lists__list__item
              = link_to "333", ""
              %figure.items__box__lists__list__item__img
                %figcaption
                  %span 4444444
                .items__box__lists__list__item__price
                  %span 5555
          %li.items__box__lists__list
            .items__box__lists__list__item
              = link_to "333", ""
              %figure.items__box__lists__list__item__img
                %figcaption
                  %span 4444444
                .items__box__lists__list__item__price
                  %span 5555
          %li.items__box__lists__list
            .items__box__lists__list__item
              = link_to "333", ""
              %figure.items__box__lists__list__item__img
                %figcaption
                  %span 4444444
                .items__box__lists__list__item__price
                  %span 5555
          %li.items__box__lists__list
            .items__box__lists__list__item
              = link_to "333", ""
              %figure.items__box__lists__list__item__img
                %figcaption
                  %span 4444444
                .items__box__lists__list__item__price
                  %span 5555
          %li.items__box__lists__list
            .items__box__lists__list__item
              = link_to "333", ""
              %figure.items__box__lists__list__item__img
                %figcaption
                  %span 4444444
                .items__box__lists__list__item__price
                  %span 5555
          %li.items__box__lists__list
            .items__box__lists__list__item
              = link_to "333", ""
              %figure.items__box__lists__list__item__img
                %figcaption
                  %span 4444444
                .items__box__lists__list__item__price
                  %span 5555
          %li.items__box__lists__list
            .items__box__lists__list__item
              = link_to "333", ""
              %figure.items__box__lists__list__item__img
                %figcaption
                  %span 4444444
                .items__box__lists__list__item__price
                  %span 5555
          %li.items__box__lists__list
            .items__box__lists__list__item
              = link_to "333", ""
              %figure.items__box__lists__list__item__img
                %figcaption
                  %span 4444444
                .items__box__lists__list__item__price
                  %span 5555
          %li.items__box__lists__list
            .items__box__lists__list__item
              = link_to "333", ""
              %figure.items__box__lists__list__item__img
                %figcaption
                  %span 4444444
                .items__box__lists__list__item__price
                  %span 5555
= render 'shared/announcement'
= render 'shared/main_footer'