= render 'shared/main_header'
= render 'shared/exhibit-btn'
= render 'shared/slider'

= render 'shared/topCategoryTitle'
.main.clearfix
  .sub.clearfix
    #ladyies
      = render 'shared/ladyies_itemsBox', collection: @ladies
    #mens
      = render 'shared/mens_itemsBox', collection: @mens
    #book
      = render 'shared/book_itemsBox', collection: @book
    #homeAppliance
      = render 'shared/homeAppliance_itemsBox', collection: @homeappliance


= render 'shared/announcement'
= render 'shared/main_footer'