= render 'shared/main_header'
= render 'shared/exhibit-btn'
= render 'shared/slider'

= render 'shared/topCategoryTitle'
.main.clearfix
  .sub.clearfix
    #ladyies
      = render 'shared/itemsBox'
    #mens
      = render 'shared/itemsBox'
    #homeAppliance
      = render 'shared/itemsBox'
    #hoby
      = render 'shared/itemsBox'

= render 'shared/topCategoryTitle'
.main.clearfix
  .sub.clearfix
    = render 'shared/itemsBox'
    = render 'shared/itemsBox'
    = render 'shared/itemsBox'
    = render 'shared/itemsBox'

= render 'shared/announcement'
= render 'shared/main_footer'