= render 'shared/main_header'
= render 'shared/exhibit-btn'
= render 'shared/slider'
= render 'shared/topCategoryTitle'
= render 'shared/itemsBox'
= render 'shared/itemsBox'
= render 'shared/topCategoryTitle'
= render 'shared/itemsBox'
= render 'shared/itemsBox'
= render 'shared/announcement'
= render 'shared/main_footer'