= render 'shared/main_header'
= render 'shared/exhibit-btn'
= render 'shared/slider'

= render 'shared/topCategoryTitle'
.main.clearfix
  .sub.clearfix
    = render partial:"shared/itemsBox", collection: @parent, as: "parent"
= render 'shared/topCategoryTitle'
.main.clearfix
  .sub.clearfix
    = render partial:"shared/itemsBox", collection: @parent, as: "parent"
= render 'shared/announcement'
= render 'shared/main_footer'