= render 'shared/main_header'

-# 商品詳細ページ機能
.product-details-wrapper
  .container
    = form_with url: "#", method: :post , class: 'item-box' do
      %h1.item-box__name
        = @item.product_name
      %p.item-box__detail 
      .item-main
        .item-photo
          .photo-big
            = image_tag("#{@item.image}")
          .photo-smallbox
        %table.item-detail
          %tr
            %th.category 出品者
            %td
              = link_to "",  class:"name" do
                = @user.nickname
              .user-rating
                .item-user-ratings
                  %i.fas.fa-laugh 
                    %span.text 20
                .item-user-ratings
                  %i.fas.fa-meh
                    %span.text 0
                .item-user-ratings
                  %i.fas.fa-frown
                    %span.text 0
            %tr
              %th.category カテゴリー
              %td
                .item-detail-table-sub-category
                  = link_to "#",  class:"name" do
                    = @parent.name
                %i.fa.fa-chevron-right.items-link_to
                  = link_to "#",  class:"name" do
                    = @child.name
                .item-detail-table-sub-sub-category
                %i.fa.fa-chevron-right.items-link_to
                  = link_to "#",  class:"name" do
                    = @grandchild.name
            %tr
              %th.category ブランド
              %td
                = link_to "#",  class:"name" do
                  = @bland.name

            %tr
              %th.category 商品のサイズ
              %td 
                = @item.size
              
            %tr
              %th.category 商品の状態
              %td
                = @item.commodity_condition
              
            %tr
              %th.category 配送料の負担
              %td 
                = @charge.name
            %tr
              %th.category 配送の方法
              %td 
                = @delivery.name
              
            %tr
              %th.category 発送元地域
              %td
                = link_to "#",  class:"name" do
                  = @item.shipping_region
              
            %tr
              %th.category 発送日の目安


              %td
                = @item.shipping_date

      .price-box
        %span.price-box__text
          ¥
        %span.price-box__price
          = @item.price.to_s(:delimited)
        %span.price-box__text
          円
        %span.price-box__tax
          (税込)
        %span.price-box__fee
          送料込み
          = link_to "", class: "item-buy-btn" do
            購入画面に進む
          = link_to "/items/#{@item.id}/edit", class: "item-edit-btn" do
            編集画面に進む

      .item-description
        %p.item-description__inner
          = @item.product_text
          
      .button-content
        .button-content__left
          .button-like
            %i.far.fa-heart
            = link_to "#", class: "button-like__text" do
              いいね！ 0
          .button-report
            %i.far.fa-flag
            = link_to "#", class: "button-report__text" do
              不適切な商品の報告
        
        = link_to "#", class: "button-content__right" do
          %i.fas.fa-lock
            あんしん・あんぜんへの取り組み

  .item-comment-message
    .item-comment-message__box
      %form.message-content-form
        %p 
          相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %textarea.message-content-form-box__text
      .message-submit
        .message-submit__btn-gray
          コメントする


    .product-show-messeagecontent
      .product-show-itemlink
        = link_to "" ,class: "product-show-messagelink" do
          < ユーザー１のページへ移動
    
      .product-show-itemlink
        = link_to "" ,class: "product-show-messagelink" do
          ユーザー２のページへ移動 >

    .product-show-sns-box
      = link_to "http://www.facebook.com/sharer.php?", class: "product-show-facebook" do
        %i.fab.fa-facebook-square
          .product-show-facebook-icon

      = link_to "https://twitter.com/share?ref_src=twsrc%5Etfw", class: "product-show-twitter" do
        %i.fab.fa-twitter-square
          .product-show-twitter-icon

      = link_to "https://www.pinterest.jp/pin/create/button/?", class: "product-show-pinterest" do
        %i.fab.fa-pinterest-square 
        .product-show-pinterest-icon
    
    .product-show-boxposition
      .product-show-items-box
        .product-show-items-name
          = link_to "", class: "product-show-text-link" do
            = @user.nickname
            その他の出品
        .product-show-items
          %ul
            = render partial: "shared/photobox", collection: @box, as: "box"
      
        .product-show-boxposition
        .product-show-items-box
          .product-show-items-name
            = link_to "", class: "product-show-text-link" do
              = @grandchild.name
              = @parent.name
              その他の商品
          
          .product-show-items
            %ul
              = render partial: "shared/photobox", collection: @box, as: "box"

= render 'shared/announcement'
= render 'shared/main_footer'